<div class="drag-container">
  <div class="value-label font-weight-bold bg-primary text-white" *ngIf="isDragging" [ngStyle]="{'font-size': getValueLabelSize(currentValue)}">
    {{ currentValue }}
  </div>
  <div class="track" [class.visible]="isDragging">
  </div>
  <div class="circle" 
       #circle
       [style.transform]="'translateY(' + circlePosition + 'px)'"
       (touchstart)="startDrag($event)"
       (mousedown)="startDrag($event)">
    <mat-spinner *ngIf="isLoading" [diameter]="36"></mat-spinner>
    <mat-icon *ngIf="!isDragging && !isLoading && !isSuccess">add</mat-icon>
    <mat-icon *ngIf="!isDragging && !isLoading && isSuccess">check</mat-icon>
  </div>
  <div class="drag-overlay"
       [style.transform]="'translateY(' + circlePosition + 'px)'"
       (touchstart)="startDrag($event)"
       (mousedown)="startDrag($event)">
  </div>
</div> 