.graphical-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.sample-graphic {
  text-align: center;
}

.chart-canvas {
  padding: 20px;
  height: 50vh;
}

.btn-group {
  display: flex;
  justify-content: center;
  border: none;
}

.tab-button {
  border-right: 1px solid #ccc;
}

.tab-button:last-child {
  border-right: none;
}