<div class="chart-container">
  <canvas #chartCanvas></canvas>
</div>
<div class="btn-group mx-4" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-outline-primary" (click)="setTimeFrame('today')" [class.active]="timeFrame === 'today'">Today</button>
  <button type="button" class="btn btn-outline-primary" (click)="setTimeFrame('week')" [class.active]="timeFrame === 'week'">This week</button>
  <button type="button" class="btn btn-outline-primary" (click)="setTimeFrame('month')" [class.active]="timeFrame === 'month'">This month</button>
</div>