<div class="home-container">

  <ng-container *ngIf="activeView === 'graph'">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-8">
            <h1 class="card-title">Hi, Bernd</h1>
            <p>Gut, dass du wieder da bist.</p>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <mat-checkbox [checked]="allowUpdates$ | async" (change)="onUpdateToggle($event)">
              Update durchführen
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="content">
    <app-graphical-display *ngIf="activeView === 'graph'"></app-graphical-display>
    <app-text-card *ngIf="activeView === 'history'" [sets]="pushUpSets"></app-text-card>
  </div>
  <!-- <div class="update-control">
    <mat-checkbox [checked]="allowUpdates$ | async" (change)="onUpdateToggle($event)">
      Update durchführen
    </mat-checkbox>
  </div> -->
  <div class="shadow-lg border-top">
    <div class="nav-buttons">
      <button mat-button [class.active]="activeView === 'graph'" (click)="activeView = 'graph'">
        <mat-icon>show_chart</mat-icon>
        Diagramm
      </button>
      <button mat-button [class.active]="activeView === 'history'" (click)="activeView = 'history'">
        <mat-icon>history</mat-icon>
        Historie
      </button>
    </div>
  </div>

  <app-drag-circle></app-drag-circle>
</div>