<div class="card-container">
  <div *ngFor="let day of dailyPushUps" class="card border-primary">
    <div class="card-header p-2 bg-primary text-white">
      <div class="row">
        <div class="col">
          <div class="card-title">
            <h2>{{ formatDate(day.date) }}</h2>
          </div>
        </div>
        <div class="col text-end">
          <h2>{{ day.totalReps }}</h2>
        </div>
      </div>
    </div>
    <div class="card-content p-2">
      <div class="set-list">
        <div *ngFor="let set of day.sets" class="set-item">
          <span class="time">{{ formatTime(set.time) }}</span>
          <span class="reps">{{ set.repetitions }}</span>
        </div>
      </div>
    </div>
  </div>
</div>